<h1 class="cv-header1">Experiences</h1>
<h2 class="cv-header2" data-bs-toggle="collapse" href="#collapseResearch" role="button" aria-controls="collapseResearch">Research</h2>
{{ range (index .Site.Data.cv "experiences" "research") }}
<div class="cv-detail detail-type-1 collapse" id="collapseResearch" aria-controls="collapseResearch">
  <div class="row-1">
    <p class="info-1" id="institution">{{ .institution }}{{ if .faculty }},{{ end }}</p>
    <p class="info-2" id="faculty">{{ .faculty }}</p>
    <p class="info-3" id="address">{{ .address }}</p>
  </div>
  <div class="row-2">
    <p class="info-4" id="position">{{ .position }}{{ if .department }},{{ end }}</p>
    <p class="info-5" id="department">{{ .department }}</p>
    <p class="info-6" id="duration">
      <span class="from">{{ .from }}</span> &mdash;
      <span class="to">{{ .to }}</span>
    </p>
  </div>
  <div class="row-3">
    <p class="info-7" id="cv-extra">{{ .extra }}</p>
  </div>
</div>
{{ end }}

<h2 class="cv-header2" data-bs-toggle="collapse" href="#collapseConsulting" role="button" aria-controls="collapseConsulting">Consultation & Advising</h2>
{{ range (index .Site.Data.cv "experiences" "consultation") }}
<div class="cv-detail detail-type-1 collapse" id="collapseConsulting" aria-controls="collapseConsulting">
  <div class="row-1">
    <p class="info-1" id="institution">{{ .institution }}{{ if .faculty }},{{ end }}</p>
    <p class="info-2" id="faculty">{{ .faculty }}</p>
    <p class="info-3" id="address">{{ .address }}</p>
  </div>
  <div class="row-2">
    <p class="info-4" id="position">{{ .position }}{{ if .department }},{{ end }}</p>
    <p class="info-5" id="department">{{ .department }}</p>
    <p class="info-6" id="duration">
      <span class="from">{{ .from }}</span> &mdash;
      <span class="to">{{ .to }}</span>
    </p>
  </div>
  <div class="row-3">
    <p class="cv-extra">{{ .extra }}</p>
  </div>
</div>
{{ end }} 

{{ with .Site.Data.cv.experiences.teaching }}
<h2 class="cv-header2" data-bs-toggle="collapse" href="#collapseTeaching" role="button" aria-controls="collapseTeaching">Teaching</h2>
{{ range . }}
<div class="cv-detail detail-type-2 collapse" id="collapseTeaching" aria-controls="collapseTeaching">
  <div class="row-1">
    <span class="info-1" id="institution">{{ .name }}</span>
    <span class="info-2" id="address">{{ .address }}</span>
  </div>
  {{ range .courses }}
  <div class="row-2">
    <p class="info-3" id="course">{{ .name }}</p>
    <p class="info-4" id="duration">{{ .period }}</p>
  </div>
  <div class="row-3">
    <p class="info-5" id="cv-extra">{{ .extra }}</p>
  </div>
  {{ end }}
</div>
{{ end }} 
{{ end }}

{{ with (index .Site.Data.cv.experiences "teaching-assistant") }}
<h2 class="cv-header2" data-bs-toggle="collapse" href="#collapseTeachingAssistant" role="button" aria-controls="collapseTeachingAssistant">Teaching Assistant</h2>
{{ range . }}
<div class="cv-detail detail-type-3 collapse" id="collapseTeachingAssistant" aria-controls="collapseTeachingAssistant">
  <div class="row-1">
    <p class="info-1" id="institution">{{ .name }}</p>
    <p class="info-2" id="address">{{ .address }}</p>
  </div>
  <div class="row-2">
  {{ range .courses }}
    <p class="info-3" id="course">{{ .name }}</p>
    <p class="info-4" id="period">{{ .period }}</p>
  {{ end }}
  </div>
  <div class="row-3">
  <p class="info-5" id="cv-extra">{{ .extra }}</p>
  </div>
</div>
{{ end }}
{{ end }}

{{ with (index .Site.Data.cv.experiences "it-support") }}
<h2 class="cv-header2" data-bs-toggle="collapse" href="#collapseITSupport" role="button" aria-controls="collapseITSupport">IT Support</h2>
<div class="cv-detail detail-type-4 collapse" id="collapseITSupport" aria-controls="collapseITSupport">
{{ range . }}
  <p class="info">
    <span id="institution">{{ .institution }}</span>
    <span id="position">{{ .position }}</span>
    <span id="period">{{ .from }}&mdash;{{ .to }}</span>
  </p>
{{ end }}
</div>
{{ end }}