<h1 class="cv-header1">Skills</h1>
<h2 class="cv-header2" data-bs-toggle="collapse" href="#cv-skills-it" role="button" aria-controls="cv-skills-it">IT Skills</h2>
<div class="cv-detail collapse" id="cv-skills-it" aria-controls="cv-skills-it">
    <div class="detail-skills-1">
    {{ with .Site.Data.cv.skills.it }}
        <p class="info-1" id="skills-it-overview">{{ .overview | markdownify }}</p>
        <ul class="info-2" id="skills-it-highlight">
            {{ range .highlight }} <li>{{ . }}</li> {{ end }}
        </ul>
        <div class="info-3" id="skills-it-competency">
            {{ range $key, $value := .competency }}
            <p class="key">{{ $key | humanize }}</p>
            <p class="value">{{ $value }}</p>
            {{ end }}
        </div>
    {{ end }}
    </div>
</div>
<div class="cv-detail detail-skills-2">
    <h2 class="cv-header2" data-bs-toggle="collapse" href="#cv-skills-scientific" role="button" aria-controls="cv-skills-scientific">Scientific Skills</h2>
    <ul class="collapse" id="cv-skills-scientific">
        {{ range .Site.Data.cv.skills.scientific.highlight }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>
    <h2 class="cv-header2" data-bs-toggle="collapse" href="#cv-skills-interpersonal" role="button" aria-controls="cv-skills-interpersonal">Interpersonal Skills</h2>
    <ul class="collapse" id="cv-skills-interpersonal">
        {{ range .Site.Data.cv.skills.interpersonal.highlight }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>
</div>